@{
    ViewData["Title"] = "Home Page";
}

<div>
    <br>
    Hello World, I am running inside a container, from image created with Codepipeline with CodeBuild pushed 
    to ECR and CodeDeploy to deploy on ecs!!
</div>