@{
    ViewData["Title"] = "Home Page";
}

<div>
    <br>
    Hello World, I am running inside a container, 
    Code is pushed to GitHub it triggers CodePipeline,
    With CodeBuild available in CodePipeline it will
    create an image and push it to ECR and With CodeDeploy 
    it will deploy on ecs!!
</div>